.App {
  text-align: center;
}

td {
  min-width: 100px
}

.trash :hover {
  background-color: lightgray;
  min-width: 25px;
  min-height: 25px;
}

.card-header-color {
  background-color: #cce5ff !important;
}

.money {
  text-align: right;  
}

.profit {
  color: darkgreen !importantS;
}

.loss {
  color: red !important;
}

.summary {
  text-align: left;
}
